*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
/data
grey2color/checkpoints
/unlabeled2017
/unlabeled2017.zip
/outputs
/errors
grey2color/checkpoints_downsized
classWvit/checkpoints_*
classWvit/checkpoints_GPT